<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }

    .header {
        text-align: center;
        margin-bottom: 30px;
    }

        .header img {
            max-width: 600px; 
            height: auto;
            display: block; 
            margin: 0 auto; 
        }

    .content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center; 
        font-weight: bold; 
        font-size: 35px; 
    }

    p {
        font-size: 18px; 
    }
</style>


<div class="header">
    <img src="~/img/deneme.png" alt="Motolektro Logo">
</div>

<div class="content">
    <h1>Hakkımızda</h1>
    <b>
        <p>
            Motolektro, elektrikli araçlar, kickscooter ve elektrikli motorsikletlerin satışı konusunda uzmanlaşmış bir e-ticaret firmasıdır.
            Müşterilerimize yüksek kaliteli ürünler ve mükemmel müşteri hizmetleri sunmaktan gurur duyuyoruz.
        </p>
        <p>
            2010 yılında kurulan Motolektro, sürdürülebilir hareketlilik konusundaki taahhüdü ile tanınır ve çevre dostu ulaşım seçeneklerini teşvik eder.
            Geniş ürün yelpazemiz ile elektrikli taşımacılık dünyasına katkıda bulunmaya devam ediyoruz.
        </p>
    </b>

    <h2>Misyonumuz</h2>
    <b>
        <p>
            Misyonumuz, çevre dostu ve sürdürülebilir ulaşım seçeneklerini genişletmek ve müşterilerimize yüksek performanslı elektrikli araçlar sunarak
            mobiliteyi daha yeşil ve erişilebilir hale getirmektir.
        </p>
        <p>
            Aynı zamanda, müşterilerimizin ihtiyaçlarına uygun en iyi ürünleri sunarak ve mükemmel müşteri deneyimi sağlayarak sektörde lider olmayı hedefliyoruz.
        </p>
    </b>

    <h2>Vizyonumuz</h2>
    <b>
        <p>
            Vizyonumuz, elektrikli ulaşım alanında lider bir marka olmak ve dünya genelinde çevre dostu hareketlilik için inovasyonu teşvik etmek.
            İnsanların daha temiz ve daha sürdürülebilir bir gelecek için elektrikli ulaşımı tercih etmelerine yardımcı olmayı amaçlıyoruz.
        </p>
    </b>

</div>
   
