@model IndexVM
<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <img src="~/img/anasayfagif.gif" />
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
               
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (Slide s in Model.Slides)
                    {
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="@s.Picture" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">@s.Slogan1 </h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">@s.Slogan2</h3>
                                    <a href="#@s.Link" class="btn btn-light py-2 px-3">Göz Atmaya Başla</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/img/backv3.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">ELEKTRİĞE GEÇ</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">DÜNYAYI SEÇ</h3>
                                    <a href="#@s.Link" class="btn btn-light py-2 px-3">Göz Atmaya Başla</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">%100 Çevreci</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ücretsiz Teslimat (10.000 TL +)</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">5 Yıl Garantili Ürünler</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">7/24 Destek Hattı</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/indexetron.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Elektrikli Araçlar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/kickscooteroffer.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Elektrikli Kickscooterlar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="~/img/motosikletoffer.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Elektrikli Motosikletler</h5>
            </div>
        </div>



    </div>
</div>
<!-- Categories End -->
<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="~/img/kickscooteroffer.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3"> %30'a Varan İndirimler ! </h5>
                    <h1 class="mb-4 font-weight-semi-bold">Elektrikli Kickscooterlar</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Göz Atmaya Başla ! </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="~/img/motosikletoffer.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3"> %20'ye Varan İndirimler !</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Elektrikli Motorsikletler</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Göz Atmaya Başla</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trend Olanlar</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (Product p in Model.Products)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <partial name="_Product" model="p" />  
            </div>
        }
        </div>
</div>


<!-- Products End -->
<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Son İndirimleri ve Haberleri Kaçırma ! </span></h2>
                <p>Bültenimize üye ol, en son indirim ve elektrik dünyası haberlerini ilk duyan sen ol !</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="E-Mail Adresiniz">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">ABONE OL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Yeni Gelenler</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (Product p in Model.Products)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <partial name="_Product" model="p" />
            </div>
        }
    </div>
</div>


<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="img/vendor/aroralogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/audilogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/bmwlogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/citroenpng.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/citycocologo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/citymatelogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/dualtronlogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/horwinlogo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="~/img/vendor/kralmotorlogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
